:root {
    --color-primary: #626262;
    --color-white: #eee;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

*:focus {
    user-select: none;
    outline: none;
    outline: 0;
}

.container {
    height: 100vh;
    background-color: var(--color-white);
    position: relative;
}

.initScreen {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all .5s;
}

.initScreen__description {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    font-family: 'Audiowide', cursive;
    font-size: 5rem;
    color: var(--color-white);
}

.gameArea {
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: repeat(2, 1fr);
    gap: 10rem;
}

.gameArea__player1,
.gameArea__player2 {
    display: grid;
    grid-template-columns: 5rem repeat(4, 12.2rem) 5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.gameArea__player1 > *,
.gameArea__player2 > * {
    height: 80%;
}

.gameArea__player1 > div:first-child,
.gameArea__player2 > div:first-child {
    grid-column: 2/ span 1;
}


.card {
    height: 17rem;
    width: 100%;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}

.cardFrontSide,
.cardBackSide {
    height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .7rem;
    overflow: hidden;
    box-shadow: .2rem .2rem 1rem rgb(53, 53, 53);
}

.cardFrontSide {
    transform: rotateY(180deg);
}

.cardBackSide {
    background: url('../images/PokeCardback.png') no-repeat center;
    background-size: cover;
}
     

.card:hover .cardFrontSide {
    transform: rotateY(0);
}

.card:hover .cardBackSide {
    transform: rotateY(-180deg);
}

.cardContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #7AC74C, rgb(72, 119, 45));
    display: grid;
    grid-template-rows: 2rem 10rem 4rem;
    padding: .5rem;
}

.header {
    background-color: white;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pokemonSprite {
    background-color: rgba(0, 0, 0, 0.204);
    border: .2rem solid white;
    border-top: none;
}

.pokemonSprite > img {
    height: 100%;
    width: 100%;
}

.pokemonDetails {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: .9rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: .2rem solid white;
}
     
.hidden {
    display: none;
}