:root {
    --color-primary: #626262;
    --color-white: #eee;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

*:focus {
    user-select: none;
    outline: none;
    outline: 0;
}

.container {
    height: 100vh;
    background-color: var(--color-white);
    position: relative;
}

.initScreen {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all .5s;
}

.initScreen__description {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    font-family: 'Audiowide', cursive;
    font-size: 5rem;
    color: var(--color-white);
}

.gameArea {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10rem 1fr;
    gap: 2rem;
    opacity: 0;
    transition: all .3s;
}

/* .gameArea > * {
    background-color:yellow;
} */


.gameArea__player1,
.gameArea__shuffleCards,
.gameArea__player2 {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.gameArea__shuffleCards {
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
}

.gameArea__player2 {
    justify-content: end;
}

.gameArea__player2-card,
.gameArea__player1-card {
    /* background-color: green; */
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    width: 8.35rem;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    top: 0;
    left: 0;
}

.gameArea__player2-card {
    align-items: flex-end;
}

.gameArea__player2-cardBack,
.gameArea__player1-cardBack {
    position: absolute;
    height: 50%;
}

.gameArea__shuffleCards-card {
    /* background-color: green; */
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    width: 7.1rem;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    top: 0;
    left: 0;
    transition: all 0.3s cubic-bezier(.18,1.09,1,1.3);
}

.gameArea__shuffleCards-card:hover {
    cursor: pointer;
}

.gameArea__shuffleCards-cardBack {
    position: absolute;
    height: 100%;
    top: -2%;
}

.hidden {
    display: none;
}

.afterShuffling {
    grid-template-rows: repeat(2, 1fr); 
    gap: 4rem;
}